// import main file from src/client/assets/scss/main.scss
@import '../../../../assets/scss/main.scss';

.comp-auth{
  fieldset{
    margin: 0;
    padding: 0;
    border: none;
    background: none;
  }
}