.dialog-default{

    .dialog-wrapper{
        max-width: 450px !important;

        h3{
            background: #f7f7f7 !important;
            &:after{
                content: '';
                width: 100%;
                height: 1px;
                display: block;
                background: #d4d4d4;
            }
        }

        .content-wrapper{
            background: #f7f7f7 !important;
        }

        .actions-wrapper{
            background: #f7f7f7 !important;
        }

    }
}